## tensorflow
# smaller CPU-only package is also available
tensorflow-cpu
tensorflow-hub
tensorflow-datasets

## helpers for tutorials
matplotlib
seaborn
numpy

## dependencies
# matplotlib: https://stackoverflow.com/questions/77507580/userwarning-figurecanvasagg-is-non-interactive-and-thus-cannot-be-shown-plt-sh
pyqt5
